<div id="found-items" ng-if="found.checkFoundItems()">
  <h3>Search result(s): {{found.foundItems.length}}</h3>
  <div ng-repeat="item in found.foundItems">
    <div class="text">
      <div class="item-name">{{item.name}} ({{item.short_name}})</div>
      <div class="item-description">{{item.description}}</div>
    </div>
    <button ng-click="found.onRemove({index: $index})">
      Don't want this one! {{$index}}
    </button>
  </div>
</div>
<!--<ol>-->
<!--<li ng-repeat="item in list.items">-->
<!--{{ item.quantity }} of {{ item.name }}-->
<!--<button ng-click="list.onRemove({index: $index});">Remove Item</button>-->
<!--</li>-->
<!--</ol>-->
<!--<div class="error">OH THE HORROR! COOKIES DETECTED!</div>-->
